#wrap {
    max-width: 80%;
    text-align: center;
    margin: auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0 0 .5rem;
}

p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 1em;
    margin: 0 auto .5rem;
}

header img {
    max-width: 100%;
}

.main-quote {
    margin: 0 0 6rem 0;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.25em;
    margin: 0 0 3rem;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fcd720;
    padding: 1.5rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: #e30922;
}

/*Start desktop styling */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}